.cardName-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
}

.cardName {
    font-size: 100px;
    font-weight: bold;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}